/*

**************************************TEXT***************************************

*/


body{
    margin: 0px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #40514E;
}
p{
    line-height: 1.4;
}
.attributes
{
    padding-top: 20px;
}
.attributesp
{
    font-size: 12px;
}
h1
{
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
    font-size: 6.25rem;
    /* 16px=100%=1em px and em are static and % is dynamic...prefer px or % 
    there is also rem, root em...unline em, will not add up! REM recommended*/
    color: #ba54d3ea;
}
h2
{
    color: #a30ea3ea;
    font-size: 2rem;
}
h3
{
    color: #a30ea3ea;
}
.programmer
{
    font-size: 1.5rem;
    color: #ba54d3ea;
}
hr{
    border: dotted #dbc6eb;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.contact-me
{
    width: 40%;
    margin: 40px auto 60px auto;
}
a
{
    color: #810b819f;
    text-decoration: none;
    margin: 5px 5px;
}
a:hover
{
    color: whitesmoke
}

/*

****************************DIVISIONS*******************************

*/


.profile
{
    margin: 100px auto 100px auto;
    width: 50%;
}
.skill-row
{
    margin: 100px auto 200px auto;
    width: 50%;
    text-align: left;
}
.top-container
{
    background-color: #f6def6;
    position: relative;
    padding-top: 100px;
}
.bottom-container
{
    background-color: #c67cd8ea;
    padding: 50px 0 20px;
}
/*

**************************IMAGES****************************************

*/


.top-cloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}
.flyer-img
{
    position: absolute;
    right: 25px;
    top: 150px;
}
.bottom-cloud
{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.girl-img
{
    width: 25%;
    height: 25%;  
    margin-top: 100px;
}
.plane-img
{
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 40px;
}
.embedded-img
{
    height:25%;
    width: 25%;
    float: right;
    margin-left: 40px;

}
.code-img
{
    height: 25%;
    width: 25%;
    float: left;
    margin-right: 40px;
}
.food-img
{
    height: 25%;
    width: 25%;
    float: right;
    margin-left: 40px;
}
.btn 
{
    background: #b975e6;
    background-image: -webkit-linear-gradient(top, #b975e6, #81179c);
    background-image: -moz-linear-gradient(top, #b975e6, #81179c);
    background-image: -ms-linear-gradient(top, #b975e6, #81179c);
    background-image: -o-linear-gradient(top, #b975e6, #81179c);
    background-image: linear-gradient(to bottom, #b975e6, #81179c);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover 
{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}